<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="jumbotron">
    <li class="list-group-item list-group-item-info">
      <span><%= @products.count %></span> <%#calling on the controller data and passing it into the template %>
      Products
    </li>
    <li class="list-group-item list-group-item-info">
      <span><%= @categories.count %></span> <%#render the instance variable in the ERB template%>
      Categories
    </li>
  </ul>
</div>